<div class="content">
  <!-- Card Section -->
  <div class="card">
    <h1 class="card-title">Campañas  activas de vacunación  contra Covid-19 (ZMG)</h1>
    <!-- Slider Section -->
    <div class="slider">
      <!-- Button Prev -->
      <div class="slider-prev">
        <button class="btn-slider btn-prev">
          <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" width="15.135" height="27.486" viewBox="0 0 15.135 27.486">
            <path id="ico_left" d="M23.761,26.2a.751.751,0,0,0,.529.222.726.726,0,0,0,.529-.222L37.3,13.715a.744.744,0,0,0,.007-1.052l-.007-.007L24.82.171a.749.749,0,1,0-1.094,1.024l.035.035L35.714,13.185,23.761,25.139a.746.746,0,0,0,0,1.056Z" transform="translate(-22.965 0.567)" fill="#bababa" stroke="#bababa" stroke-linecap="round" stroke-width="1"/>
          </svg>
        </button>
      </div>
      <!-- Cards Content -->
      <div class="slider-content">
        <div class="slider-card item-1">
          <div class="card-image">
            <img src="/assets/svgs/card/Group_5447.svg" alt="card-image">
          </div>
          <p class="card-title">Personas de 18 y más</p>
          <p class="card-title-dosis"><span class="card-number">1</span> Primera dosis</p>
        </div>
        <div class="slider-card item-2">
          <div class="card-image">
            <img src="/assets/svgs/card/Group_5447.svg" alt="card-image">
          </div>
          <p class="card-title">Personas de 18 y más</p>
          <p class="card-title-dosis"><span class="card-number">2</span> Primera dosis</p>
          <p class="card-title-brand">Astra zeneca</p>
          <p class="card-title-date">Primera dosis aplicada antes del 15 de Agosto</p>
        </div>
      </div>
      <!-- Button Next -->
      <div class="slider-next">
        <button class="btn-slider btn-next">
          <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" width="15.135" height="27.486" viewBox="0 0 15.135 27.486">
            <path id="ico_left" d="M23.761,26.2a.751.751,0,0,0,.529.222.726.726,0,0,0,.529-.222L37.3,13.715a.744.744,0,0,0,.007-1.052l-.007-.007L24.82.171a.749.749,0,1,0-1.094,1.024l.035.035L35.714,13.185,23.761,25.139a.746.746,0,0,0,0,1.056Z" transform="translate(-22.965 0.567)" fill="#bababa" stroke="#bababa" stroke-linecap="round" stroke-width="1"/>
          </svg>
        </button>
      </div>
    </div>
    <!-- Decoration Line -->
    <div class="horizontal-line"></div>
    <!-- CURP Form Section -->
    <div class="form-content">
      <h1 class="form-title">Comenzar ahora</h1>
      <h3>Ingresar tu CURP para agendar una cita o para <a href="" class="link">cancelar una cita</a> ya registrada.</h3>
      <form class="form" action="">
        <div class="input-control">
          <div class="input-icon" >
            <img src="/assets/svgs/form/Group_5427.svg" alt="">
          </div>
          <input class="input-form" type="text" name="curd" id="curd" placeholder="Introduce tu CURP" maxlength="18">
        </div>
        <button class="btn btn-primary">Continuar</button>
      </form>
      <div class="no-curd-content">
        <p>Si no conoces tu CURP <a href="">consulta aquí</a></p>
      </div>
    </div>
  </div>
  <!-- Contact Number Section -->
  <div class="phone-contact">
    <a href=""><img class="icon" src="/assets/svgs/contact/ico_tel.svg" alt=""> <span class="phone-number">33 3823 3220</span></a>
  </div>
  <!-- Arrows Decoration -->
  <div class="left-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="184.272" height="263.617" viewBox="0 0 184.272 263.617">
      <defs>
        <linearGradient id="linear-gradient" x1="0.219" y1="2.972" x2="0.69" y2="2.962" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#fff" stop-opacity="0"/>
          <stop offset="1" stop-color="#00aec5"/>
        </linearGradient>
      </defs>
      <g id="img_left" transform="translate(128.89 51.295)">
        <path id="Path_12055" data-name="Path 12055" d="M47.117,60.561-56.474-43.03a28.218,28.218,0,0,0-39.906,0l-24.246,24.246a28.219,28.219,0,0,0,0,39.906L2.918,144.664l44.2-44.2A28.217,28.217,0,0,0,47.117,60.561Z" transform="translate(0)" fill="#37aefd"/>
        <path id="Path_12056" data-name="Path 12056" d="M47.117,60.561-56.474-43.03a28.218,28.218,0,0,0-39.906,0l-24.246,24.246a28.219,28.219,0,0,0,0,39.906L2.918,144.664l44.2-44.2A28.217,28.217,0,0,0,47.117,60.561Z" transform="translate(0)" fill="url(#linear-gradient)" style="mix-blend-mode: multiply;isolation: isolate"/>
        <path id="Path_12057" data-name="Path 12057" d="M-120.626,157.257a28.219,28.219,0,0,0,0,39.906l24.246,24.246a28.217,28.217,0,0,0,39.906,0L47.117,117.818a28.218,28.218,0,0,0,0-39.906l-44.2-44.2h0L-21.757,9.038a34.9,34.9,0,0,1,0,49.353Z" transform="translate(0 -17.352)" fill="#37aefd"/>
      </g>
    </svg>

    <!-- <img src="/assets/svgs/decoration/img_left.svg" alt="left-arrow"> -->
  </div>
  <div class="right-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="184.272" height="263.617" viewBox="0 0 50.272 263.617">
      <defs>
        <linearGradient id="linear-gradient" x1="0.219" y1="2.972" x2="0.69" y2="2.962" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#fff" stop-opacity="0"/>
          <stop offset="1" stop-color="#00aec5"/>
        </linearGradient>
      </defs>
      <g id="img_left" transform="translate(128.89 51.295)">
        <path id="Path_12055" data-name="Path 12055" d="M47.117,60.561-56.474-43.03a28.218,28.218,0,0,0-39.906,0l-24.246,24.246a28.219,28.219,0,0,0,0,39.906L2.918,144.664l44.2-44.2A28.217,28.217,0,0,0,47.117,60.561Z" transform="translate(0)" fill="#37aefd"/>
        <path id="Path_12056" data-name="Path 12056" d="M47.117,60.561-56.474-43.03a28.218,28.218,0,0,0-39.906,0l-24.246,24.246a28.219,28.219,0,0,0,0,39.906L2.918,144.664l44.2-44.2A28.217,28.217,0,0,0,47.117,60.561Z" transform="translate(0)" fill="url(#linear-gradient)" style="mix-blend-mode: multiply;isolation: isolate"/>
        <path id="Path_12057" data-name="Path 12057" d="M-120.626,157.257a28.219,28.219,0,0,0,0,39.906l24.246,24.246a28.217,28.217,0,0,0,39.906,0L47.117,117.818a28.218,28.218,0,0,0,0-39.906l-44.2-44.2h0L-21.757,9.038a34.9,34.9,0,0,1,0,49.353Z" transform="translate(0 -17.352)" fill="#37aefd"/>
      </g>
    </svg>
    <!-- <img src="/assets/svgs/decoration/img_left.svg" alt="left-arrow"> -->
  </div>
  <!-- Points Decoration -->
  <div class="points">
    <img src="/assets/svgs/decoration/img_back_puntos.svg" alt="points">
  </div>
</div>
