<footer class="footer">
  <div class="footer-content">
    <img class="footer-logo item-1" src="/assets/svgs/footer/Group_4009.svg" alt="footer image 1">
    <img class="footer-logo item-2" src="/assets/svgs/footer/Group_4023.svg" alt="footer image 2">
    <img class="footer-logo item-3" src="/assets/svgs/footer/Group_3997.svg" alt="footer image 3">
    <img class="footer-logo item-4" src="/assets/svgs/footer/Group_3999.svg" alt="footer image 4">
    <img class="footer-logo item-5" src="/assets/svgs/footer/Group_4000.svg" alt="footer image 5">
    <img class="footer-logo item-6" src="/assets/svgs/footer/Group_4112.png" alt="footer image 6">
    <img class="footer-logo item-7" src="/assets/svgs/footer/Group_5363.svg" alt="footer image 7">
  </div>
</footer>
